.pkgdown-hide {
  display: none;
}


.navbar {
  background-color: #CF2D29 !important;  /* rot */
}

.navbar .nav-link,
.navbar .navbar-brand {
  color: white !important;
}

.navbar .nav-link:hover {
  color: #f8d7da !important;
}